{% extends "user/Dashboard/information/base.html.twig"%}

{% block title %}Dashboard - Mon identité{% endblock %}

{% block functionality %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-6 rounded shadow-sm">
                <div class="row">
                    <div class="col-12">
                        <h2>Formulaire d'identité</h2>
                    </div>
                    <div class="col-12">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" class="btn btn-outline-primary mt-3" value="Modifier">
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">Vos informations personelles</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for data in datas %}
                                        <td>
                                            {% if data.data is defined and data.data is not null %} 
                                                Votre {{ data.profilModelData.label }}:  {{ data.data }}
                                            {% else %}
                                                Vous n'avez pas préciser votre {{ data.profilModelData.label }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6 mr-2 rounded shadow-sm">
                <div class="row">
                    <div class="col-12">
                        <h2>Documents d'identité</h2>
                    </div>
                    <div class="col-12">
                    {{ form_start(formDoc) }}
                    {{ form_widget(formDoc) }}
                    <input type="submit" class="btn btn-outline-primary mt-3" value="Uploader">
                    {{ form_end(formDoc) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <!-- Declenchement de modal invitation -->
                        <button class="btn btn-outline-primary mt-5" data-bs-toggle="modal" data-bs-target="#invitationModal">
                            Créer une invitation<i class="fas fa-plus-circle"></i>
                        </button>
                    </div>
                    <div class="col-6"></div>
                </div>
            </div>
        </div>
    </div>
</div>
      <!-- Modal invitation -->
            <div class="modal fade" id="invitationModal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
                 <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-header">
                             <h5 class="modal-title" id="delete-modal-label">Créer une invitation</h5>
                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                         </div>
                         <div class="modal-body">
                            {{ form_start(formInvitation) }}
                            {{ form_widget(formInvitation) }}
                         </div>
                        <div class="modal-footer">
                             <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-outline-primary">Créer une invitation</button>
                        </div>
                        {{ form_end(formInvitation) }}
                    </div>
                </div>
            </div>
{% endblock %}