{% extends "user/Dashboard/information/base.html.twig"%}
{% block stylesheets %}
<style type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css"></style>
{% endblock %}
{% block title %}Dashboard - Mon identité{% endblock %}

{% block functionality %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-6 rounded shadow-sm">
                <div class="row">
                    <div class="col-12">
                        <h2>Formulaire d'identité</h2>
                    </div>
                    <div class="col-12 mb-3">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" class="btn btn-outline-primary mt-3" value="Modifier">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-6 mr-2 rounded shadow-sm">
                <div class="row">
                    <div class="col-12">
                        <h2>Documents d'identité</h2>
                    </div>
                    <div class="col-12">
                    {{ form_start(formDoc) }}
                    {{ form_widget(formDoc) }}
                    <input type="submit" class="btn btn-outline-primary mt-3" value="Uploader">
                    {{ form_end(formDoc) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- Declenchement de modal invitation -->
                        <button class="btn btn-outline-primary mt-5" data-bs-toggle="modal" data-bs-target="#invitationModal">
                            Créer une invitation<i class="fas fa-plus-circle"></i>
                        </button>
                    </div>
                    
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-6 shadow-sm">
                        <div class="col-12">
                            <h2>Formulaire de domiciliation</h2>
                        </div>
                        <div class="col-12">
                            {{ form_start(formDomiciliation) }}
                            {{ form_widget(formDomiciliation) }}
                            <input type="submit" class="btn btn-outline-primary mt-3" value="Modifier">
                            {{ form_end(formDomiciliation) }}
                        </div>
                    </div>
                    <div class="col-6 shadow-sm">
                        <div class="col-12">
                            <h2>Document de domiciliation</h2>
                        </div>
                        <div class="col-12">
                            {{ form_start(formDomiciliationUpload) }}
                            {{ form_widget(formDomiciliationUpload) }}
                            <input type="submit" class="btn btn-outline-primary mt-3" value="Uploader">
                            {{ form_end(formDomiciliationUpload) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-12 shadow-sm">
                        <table class="table">
                                <thead>
                                    <h4>Vos informations personelles</h4>
                                </thead>
                                 <hr class="dropdown-divider">
                            <tbody>
                                <tr>
                                    {% for data in datas %}
                                        <td>
                                            {% if data.data is defined and data.data is not null %} 
                                                Votre {{ data.profilModelData.label }}:  {{ data.data }}
                                            {% else %}
                                                Vous n'avez pas préciser votre {{ data.profilModelData.label }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-3 mt-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <h4>Accomplissement identité</h4>
                    </div>
                    <div class="col-12 text-center" id="colIdentity">
                        <canvas id="myChartIdentity" class="chartDétails" width="400" length="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-3 mt-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <h4>Accomplissement domiciliation</h4>
                    </div>
                    <div class="col-12 text-center" id="colDomiciliation">
                        <canvas id="myChartDomiciliation" class="chartDétails" width="400" length="400"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-3 mt-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <h4>Accomplissement revenue</h4>
                    </div>
                    <div class="col-12 text-center" id="colIncomes">
                        <canvas id="myChartIncome" class="chartDétails" width="400" length="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Modal invitation -->
            <div class="modal fade" id="invitationModal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
                 <div class="modal-dialog">
                     <div class="modal-content">
                         <div class="modal-header">
                             <h5 class="modal-title" id="delete-modal-label">Créer une invitation</h5>
                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                         </div>
                         <div class="modal-body">
                            {{ form_start(formInvitation) }}
                            {{ form_widget(formInvitation) }}
                         </div>
                        <div class="modal-footer">
                             <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-outline-primary">Créer une invitation</button>
                        </div>
                        {{ form_end(formInvitation) }}
                    </div>
                </div>
            </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
    {# Canvas séléctionner #}
    var canvasIdentity = document.querySelector('#myChartIdentity');

    {# Calcul identité #}
    var identityLength = 6 - {{ chartDirectory.identity|length }};


    {# Petit partie fini anim #}
    var finish = '<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" class="svg-inline--fa fa-check-circle fa-w-16 w-25" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#2AF25C" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>';

    {# Graphique Identité #}
     if(identityLength !== 0){
          var myChartIdentity = new Chart(canvasIdentity, {
            type: 'doughnut',
            data: {
                labels: ['Accomplit', 'Non accomplie'],
                datasets: [
                    {
                        label: "Accomplissement",
                        data: [{{ chartDirectory.identity|length }}, identityLength],
                        backgroundColor: ['#38FF6A', '#C1C1C1']
                    }
                ]
            },
            options: {
                responsive: false
            }
        })
     }else{
        canvasIdentity.className += 'd-none';
        document.getElementById('colIdentity').innerHTML = finish; 
     }
</script>


<script>
{# Scirpt domiciliation #}
var canvasDomiciliation = document.querySelector('#myChartDomiciliation');
    {# Calcul domiciliation #}
    var domiciliationLength = 5 - {{ chartDirectory.domiciliation|length }};

{# Graphique domiciliation #}
    if(domiciliationLength !== 0){
        var myChartDomiciliation = new Chart(canvasDomiciliation, {
            type: 'doughnut',
            data: {
                labels: ['Accomplit', 'Non accomplie'],
                datasets: [
                    {
                        label: "Accomplissement",
                        data: [{{ chartDirectory.domiciliation|length }}, domiciliationLength],
                        backgroundColor: ['#40CAFF', '#C1C1C1']
                    }
                ]
            },
            options: {
                responsive: false
            }
        })
    }
    else{
        canvasDomiciliation.className += 'd-none';
        document.getElementById('colDomiciliation').innerHTML = finish; 
    }
</script>

<script>
    var canvasIncome = document.querySelector('#myChartIncome');
    {# Calcul revenus #}
    var incomesLength = 6 - {{ chartIncome|length }};
        
{# Graphique revenus #}
if(incomesLength !== 0){
          var myChartIncome = new Chart(canvasIncome, {
        type: 'doughnut',
        data: {
            labels: ['Accomplit', 'Non accomplie'],
            datasets: [
                {
                    label: "Accomplissement",
                    data: [{{ chartIncome|length }}, incomesLength],
                    backgroundColor: ['#FFC300', '#C1C1C1']
                }
            ]
        },
        options: {
            responsive: false
        }
    })
}else{
    canvasIncome.className += ' d-none';
    document.getElementById('colIncomes').innerHTML = finish;
}
</script>
{% endblock %}